<link href="../Css/MenuAyudaArbolProblemas.css" rel="stylesheet" />


<nav class="vertical" id="menuAyuda">
    <input type="checkbox" id="toggle2" />
    <label id="menuToggle" for="toggle2">
        <span class="fa fa-bars" style="font-size:22px;"></span>
    </label>
    <menu style="margin-top:-6%;">

        <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
        <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="atras()" style="font-size:22px;"></a></li>
        <li><a class="fa fa-file button demo-btn demo5 menuAyuda" title="Leer ayuda" data-svg-popup="demo5" style="font-size:22px;"></a></li>
        <li><a class="fa fa-video-camera button demo-btn demo6 menuAyuda" title="Ver ayuda" data-svg-popup="demo6" style="font-size:22px;"></a></li>
        <li><a class="fa fa-volume-up button menuAyuda" title="Escuchar ayuda" id="audio" style="font-size:22px;"></a></li>

    </menu>
</nav>

 <!-- ALERTAS -->
<div id="alerta">
    <h3></h3>
    <p></p>
</div>

<!-- VENTANAS MODALES -->
<div id="modal">
    <div id="crearProblemaCentral" class="contenidoModal">
        <h2 style="font-weight:600;">Define tu problema central</h2>
        <hr>
        <p>Nota: Maximo 140 caracteres.</p>
        <textarea id="txtProblemaInicial" name="name" maxlength="140"></textarea>
        <input id="btnProblemaCentral" class="btn" type="button" name="problemaCentral" value="Listo">
    </div>
</div>

<!-- MOSTRAR Y OCULTAR EL PANEL -->
<div id="mostrarPanel" ng-click="mostrarPanel()">
    <h6 id="textoPanel">Ocultar</h6>
</div>

<!-- PANEL -->
<div id="panel">
    <h4>Agregar</h4>
    <hr>
    <!-- ELEMENTO -->
    <select class="form-control" name="elemento" id="elemento" ng-change="cambioElemento()" ng-model="probando">
        <option value="vacio">Seleccionar...</option>
        <option value="efecto">Efecto</option>
        <option value="causa">Causa</option>
        <option value="efectoIndirecto">Efecto Indirecto</option>
        <option value="causaIndirecta">Causa Indirecta</option>
    </select>
    <!-- ASIGNAR INDIRECTA -->
    <div id="indirecta">
        <h5 style="font-weight:600;">Asignar a <span id="txtIndirecta">Causa</span></h5>
        <select class="form-control" name="asiganrIndirecta" id="asignarIndirecta">
            <option value="vacio">Seleccionar...</option>
        </select>
    </div>
    <!-- BOTON CREAR ELEMENTO -->
    <input id="btnCrear" class="btn" type="button" name="crearElemento" value="Crear" ng-click="crear()">

</div>



<!--<div id="guardar"><p id="guardarTexto">Guardar</p></div>-->

<!-- ARBOL -->
<div id="arbolContenedor" style="font-size:8px;">
    <!-- EFECTOS INDIRECTOS -->
    <ul id="efectoIndirecto" class="nivel3"></ul>
    <!-- IMG3 -->
    <div id="imgEfecto3" class="img3"></div>
    <!-- EFECTOS -->
    <ul id="efecto" class="nivel2"></ul>
    <!-- IMG2 -->
    <img id="imgEfecto" src="" class="img2">
    <!-- PROBLEMA CENTRAL -->
    <ul id="problemaCentral" class="nivel1">
        <li class="bloque">
            <textarea id="txtProblema" class="txtBloque" name="txtProblema" maxlength="140"></textarea>
        </li>
    </ul>

    <div id="guardar" style="position:absolute; z-index:9;" title="Guardar" ng-click="guardar()">
        <i id="iconGuardar" class="fa fa-floppy-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
        <p style="font-size:10px; text-align:center">Guardar</p>
    </div>

    <!-- IMG2 -->
    <img id="imgCausa" src="" class="img2">
    <!-- CAUSAS -->
    <ul id="causa" class="nivel2"></ul>
    <!-- IMG3 -->
    <div id="imgCausa3" class="img3"></div>
    <!-- CAUSAS INDIRECTAS -->
    <ul id="causaIndirecta" class="nivel3"></ul>

    <!--<input id="btnCrear2" class="btn" type="button" name="crearElemento" value="Crear" ng-click="crear()">-->
</div>

<script src="../Modelos/ArbolProblema/BorrarElemento.js"></script>

<style>
    ::-webkit-scrollbar {
      width: 5px;
}

</style>