<style>
    #colaboradoresNav{
        width:100%;
        position:fixed;
        margin-top:0px;
        background-color:#238276;
    }
</style>

<div>
    <nav class="vertical" id="menuAyuda">
        <input type="checkbox" id="toggle2" />
        <label id="menuToggle" for="toggle2">
            <span class="fa fa-bars" style="font-size:22px;"></span>
        </label>
        <menu style="margin-top:-6%;">

            <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
            <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="Regresar()" style="font-size:22px;"></a></li>

        </menu>
    </nav>


    <nav class="navbar "  id="colaboradoresNav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


<div class="container" style="background: rgba(192,192,192,0.15); height: 100vh; margin-top:-10%">


    <h1>Agradecimientos</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur, eros sed accumsan ultricies, ante velit fringilla ex, ac suscipit sapien arcu non justo. Duis at metus rutrum, ullamcorper turpis id, imperdiet ipsum. Donec porttitor viverra maximus. Fusce mattis sem nulla, et venenatis justo mollis in. Quisque sit amet ipsum tempor, rhoncus massa vitae, ultricies justo. Duis finibus metus et dolor suscipit, sed congue sem lobortis. Nullam tristique sodales faucibus. Sed lectus justo, tincidunt at velit id, egestas suscipit dui. Duis eu porttitor metus. Nunc sapien lectus, porttitor in sagittis ac, lacinia eu nunc. Praesent ullamcorper porta mattis. Donec scelerisque erat ac ligula efficitur suscipit. Suspendisse et tempus nisl. Phasellus egestas arcu vitae est commodo, ut fermentum ligula rhoncus.<br />

    Donec accumsan in nulla quis interdum. Quisque condimentum feugiat erat vel placerat. Praesent rhoncus risus eu nulla eleifend, vitae vehicula nisi auctor. Aenean mattis, augue placerat sodales egestas, ligula velit consectetur dolor, viverra vestibulum quam quam non est. Suspendisse nec aliquet neque. Vivamus luctus urna vitae felis aliquet euismod. Sed in odio eleifend, feugiat enim ut, sagittis diam. Nulla ornare dui ipsum, ut consectetur enim venenatis quis. Donec quis purus eros. Aliquam luctus sagittis enim feugiat vestibulum. Phasellus cursus felis et tortor commodo eleifend. Duis finibus erat vitae faucibus imperdiet. Fusce in dolor sed lectus condimentum vehicula.<br />

    Nam hendrerit dapibus tellus vel varius. In ante lectus, porta lobortis bibendum sed, tempor quis justo. Integer euismod sollicitudin porttitor. Mauris consectetur elit et sapien lobortis efficitur. Curabitur ut condimentum diam. Cras et enim et purus iaculis viverra id non massa. Nulla fringilla accumsan lectus, et dictum nisl commodo ac. Nunc congue diam id sem dapibus, in condimentum neque egestas. Aenean condimentum viverra tempor. Aenean eu tempus metus, eget tincidunt lacus. Morbi a dolor ligula. Proin aliquam euismod tortor, et cursus felis dignissim id. In hac habitasse platea dictumst.
</p>    
<p>
    Nullam eleifend non urna sit amet sollicitudin. Fusce sed posuere enim, non ullamcorper ipsum. Nullam in aliquam leo. Vestibulum lectus lectus, fringilla eget cursus at, placerat ultrices ipsum. Curabitur at sem a augue dapibus faucibus nec et nulla. Sed eget finibus magna. Praesent purus lorem, auctor non elit et, congue placerat magna. Aliquam ante elit, tincidunt sed lacus eu, porttitor iaculis nisl. Suspendisse potenti.

    Integer est turpis, ultricies nec mauris et, gravida rhoncus ex. Ut vitae risus in lorem tempus luctus. Aenean tincidunt quam mi, at semper ligula dignissim non. Cras eget sem nec ligula rutrum elementum. Integer ut vulputate neque, vitae faucibus nisi. Donec vel arcu leo. Duis justo tellus, condimentum posuere vulputate in, scelerisque nec dui. Etiam vitae arcu vel lacus vehicula condimentum nec eu mauris. Phasellus sed facilisis risus, fringilla feugiat urna. Donec tortor ipsum, tempus lacinia molestie non, consectetur et justo. Donec eu sapien vel ante egestas tempus.

</p>

</div>

    <div class="botón" onclick="animar()">Iniciar</div>


</div>