<style>
    #menuAyuda{
    margin-top:0%;
    margin-left:94.5%;
    position:fixed;
    z-index:300;
}

@media (max-width: 1366px) and (min-width: 1361px) {

#menuAyuda{
    margin-top:0%;
    margin-left:93%;
    position:fixed;
    z-index:300;
}

#contenido{
    height:105vh;
} 

}


@media (max-width: 1360px) and (max-height: 1281px) {

#menuAyuda{
    margin-top:0%;
    margin-left:93%;
    position:fixed;
    z-index:300;
}

#contenido{
    height:105vh;
}    

}

@media (max-width: 1280px) and (min-width: 1153px) {

#menuAyuda{
    margin-top:0%;
    margin-left:93%;
    position:fixed;
    z-index:300;
}

#contenido{
    height:105vh;
}    

}

@media(max-width:1152px) {

#menuAyuda{
    margin-top:0%;
    margin-left:92%;
    position:fixed;
    z-index:300;
}    

}

@media (max-width: 1024px) and (max-height: 768px) {

#menuAyuda{
    margin-top:0%;
    margin-left:91%;
    position:fixed;
    z-index:300;
}    
  
#contenido{
    height:100vh;
}  
 
}

</style>

<div class="container-fluid" style="height:100vh; margin-top:-10%;">

    <nav class="vertical" id="menuAyuda">
        <input type="checkbox" id="toggle2" />
        <label id="menuToggle" for="toggle2">
            <span class="fa fa-bars" style="font-size:22px;"></span>
        </label>
        <menu style="margin-top:-6%;">
            <li><a class="fa fa-sign-out menuAyuda" style="font-size:22px;" title="Cerrar sesión"></a></li>
            <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" style="font-size:22px;"></a></li>
            <li><a class="fa fa-file button demo-btn demo5 menuAyuda" title="Leer ayuda" data-svg-popup="demo5" style="font-size:22px;"></a></li>
            <li><a class="fa fa-video-camera button demo-btn demo6 menuAyuda" title="Ver ayuda" data-svg-popup="demo6" style="font-size:22px;"></a></li>
            <li><a class="fa fa-volume-up button menuAyuda" title="Escuchar ayuda" id="audio" style="font-size:22px;"></a></li>

        </menu>
    </nav>

    <div id="contenido" class="container" style="background:rgba(192,192,192,0.15);">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100vh;">
            <h1 id="datosGenerales" style="margin-top:5%;">DATOS GENERALES</h1>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:30vh; width:600px; margin-left:50%; transform:translateX(-50%); margin-top:5%;">

            <form name="sede" id="sede">
                <div class="form-group">
                    <div ng-class="{'has-error':sede.codigo.$invalid && sede.codigo.$touched, 'has-error2':sede.codigo.$error.maxlength}">
                        <label>TIPO DE PROYECTO</label>
                        <select class="form-control" id="TipoSede" ng-required="true" ng-model="DatosProyecto.TipoProyecto" style="float:right;">
                            <option value="INOVACIÓN">INOVACIÓN</option>
                            <option value="SERVICIOS TECNOLÓGICOS">SERVICIOS TECNOLÓGICOS</option>
                            <option value="INVESTIGACIÓN">INVESTIGACIÓN</option>
                        </select>
                        <span ng-if="sede.codigo.$error.maxlength" class="help-block">El código puede tener máximo 10 caracteres </span>
                    </div>

                </div>
                <div class="form-group">
                    <div ng-class="{'has-error':sede.nombreSede.$invalid && sede.nombreSede.$touched, 'has-error2':sede.nombreSede.$error.maxlength}">
                        <label style="padding-top:20px;">ACCIÓN A REALIZAR EN EL PROYECTO</label>
                        <select class="form-control" id="TipoSede" ng-required="true" ng-model="DatosProyecto.AccionProyecto" style="float:right;">
                            <option ng-repeat="accionProyecto in AccionProyecto" class="{{accionProyecto}}" value="{{accionProyecto}}">{{accionProyecto | uppercase}}</option>
                        </select>
                        <span ng-if="sede.nombreSede.$error.maxlength" class="help-block">El nombre de la sede puede tener máximo 50 caracteres</span>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-class="{'has-error':sede.nombreSede.$invalid && sede.nombreSede.$touched, 'has-error2':sede.nombreSede.$error.maxlength}">
                        <label style="padding-top:20px;">TEMA PRINCIPAL DEL PROYECTO</label>
                        <!--<select class="form-control" id="TipoSede" ng-required="true" ng-model="DatosProyecto.AccionProyecto" style="float:right;">
                            <option ng-repeat="accionProyecto in AccionProyecto" class="{{accionProyecto}}" value="{{accionProyecto}}">{{accionProyecto | uppercase}}</option>
                        </select>-->
                        <input id="" class="form-control" style="float:right; width:100%" ng-model="DatosProyecto.TemaProyecto" maxlength="70" />
                        <span ng-if="sede.nombreSede.$error.maxlength" class="help-block">El nombre de la sede puede tener máximo 50 caracteres</span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="padding-top:20px;">SELECCIONE DEPARTAMENTO</label>
                    <select class="form-control" id="Departamento" ng-required="true" ng-model="departamento" ng-change="ConsultarMunicipiosDepartamento(departamento)" style="float:right;">
                        <!--<option value="" disabled selected>Seleccione el Área</option>-->
                        <option ng-repeat="departamento in Departamentos" class="{{departamento.NombreDepartamento}}" value="{{departamento.IdDepartamento}}">{{departamento.NombreDepartamento}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label style="padding-top:20px;">SELECCIONE MUNICIPIO</label>
                    <select class="form-control" id="Municipio" ng-required="true" ng-model="DatosProyecto.IdMunicipio" style="float:right;">
                        <!--<option value="" disabled selected>Seleccione el Área</option>-->
                        <option ng-repeat="municipio in Municipio" class="{{municipio.NombreMunicipio}}" value="{{municipio.IdMunicipio}}">{{municipio.NombreMunicipio}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="padding-top:20px;">SECTOR</label>
                    <select class="form-control" id="TipoSede" ng-required="true" ng-model="DatosProyecto.Sector" style="float:right;">
                        <option ng-repeat="sector in Sector" class="{{sector}}" value="{{sector}}">{{sector}}</option>
                    </select>
                </div>
                <!--<div class="form-group">

                    <label>¿La sede es un colegio?</label>
                    <input style="margin-left:5px;" type="checkbox" ng-model="Sede.Colegio" />
                </div>-->
            </form>

            <div class="modal-footer">
                <br />
                <button class="btn btn-success btn-default" id="BtnAtras" data-dismiss="modal" ng-click="atras()">Atrás</button>
                <button class="btn btn-success btn-default" id="BtnGuardar" data-dismiss="modal" ng-click="GuardarDatosProyecto()">Aceptar</button>
                <button class="btn btn-success btn-default" id="BtnModificar" data-dismiss="modal" ng-click="ModificarProyecto()">Editar</button>
            </div>
        </div>
    </div>
</div>
