body{
    overflow:auto;
    overflow-x:hidden;
}
textarea{
    resize:none;
    border:1px solid #ccc;
}

::-webkit-scrollbar {
      width: 12px;
}

::-webkit-scrollbar-track {
      background-color: white;
} 

::-webkit-scrollbar-thumb {
      background-color: #51aba6;
} 

#btn_reporte:hover
{
    box-shadow: 0px 0px 15px #238276;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

#ayudaUno{
z-index:997;
}

#tablaResultados{
    margin-left:55%;
    margin-top:15%;
    position:absolute;
    transform:translateX(-60%);
}

#lineaDos{
    margin-top:77vh;
    position:fixed;
    margin-left:88%;
}


#tipMatrizVesterDos{
    margin-left:26%;
}

.titulovistaObjetivos{
    margin-top:3%;
    position:absolute; 
    margin-left:50%;
    transform:translate(-50%);
    font-weight:600;
}

.textos{
     font-weight:600;
     margin-top:1%;
}

#personajeDos{
    position:fixed;
    float:left; 
    margin-top:12%;
    margin-left:-22%; 
    width:5%;
}
#personajeHombre{
    position:fixed;
    float:right; 
    margin-top:13%;
    margin-left:-80%; 
    width:5.4%;
}

#btn_regresar{
    margin-left:74%; 
    margin-top:1%; 
    width:7%;
}

#contenedorFormulario{
    width:690px;
    height:100vh;
    background-color:rgba(192,192,192,0.15); 
    position:absolute; 
    z-index:-2; 
    margin-left:31%; 
    margin-top:-10%; 
    overflow:hidden;
}

#datosGenerales{
    font-weight:600;
}


#DocumentoFinal{
    width:70%;
    height:100%; 
    border:2px solid #238276; 
    position:fixed; 
    margin-top:-10%; 
    margin-left:50%; 
    transform:translateX(-50%); 
    overflow-y:hidden;
}

/*INICIA MATRIZ DE VESTER*/


#matrizVester{
    margin-top:4%;
    position:absolute; 
    margin-left:50%;
    transform:translate(-50%);
    font-weight:600;
}

.panel-body{
    width:1500px;
}

#problematicaCampo{
    margin-bottom:3%; 
    width:80%;
    margin-left:12%;
    margin-top:6%;
}

#problematicaCampoDos{
    margin-bottom:3%; 
    width:60%;
    margin-left:64%;
    margin-top:6%;
}

#botonGuardar{
    margin-left:6%; 
    margin-top:10%; 
    position:absolute;
}

#agregar_btn{
    margin-top:4%;
    margin-left:7%;
}

#compararBoton{
    margin-top: 6%; 
    margin-left:6%;
}

#Problematicas{
    margin-left:20%;
}

#influeniciaTitulo{
    text-align:center; 
    position:absolute; 
    margin-top:15%;
    margin-left:41%;
    transform:translateX(-50%);
}

#grafica{
    width: 900px; 
    height: 500px; 
    position:absolute; 
    top: 80%;
    left: 33%;
}

#proyectos{
    font-size: 1em;
    color: #fff;
    background: rgb(0, 135, 126);
    border: 3px solid #238276;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 16%;
    margin-left: 1%;
    margin-top:6%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    font-weight:600;
    z-index:8;
    position:absolute;
}

#proyectos:hover{
    background: transparent;
    border: 3px solid #16665a;
    color:#16665a;
    font-weight:600;
}

#ObjetivosTitulo{
    margin-left:50%;
    transform:translate(-50%);
    margin-top:15%;
    font-weight:600;
    font-size:34px;
   
}

#containerFormObjetivos{

    height:100vh;
    background:rgba(192,192,192,0.15);
    margin-left:50%; 
    transform: translate(-50%);

       
}

#BotonInfo1{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:1%;
}

#BotonInfo2{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:11%;
}

#BotonInfo3{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:22%;
}

.infobasica{
    margin-top:5px;
    color:white;
    font-size:23px;
}

#containerFormResultados{

    height:100vh;
    background:rgba(192,192,192,0.15);
    margin-left:50%; 
    transform: translate(-50%);
  
}

#ResultadosTitulo{
    margin-left:50%;
    transform:translate(-50%);
    margin-top:5%;
    font-weight:600;
    font-size:34px;
   
}

#BotonInfoR{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:5%;
    margin-left:99%;
}

#containerFormNombre{
    
    height:100%;
    background:rgba(192,192,192,0.15);
    margin-left:50%; 
    transform: translate(-50%);
  
}

#tituloNombre{
    margin-top:5%;
    font-weight:600;
}

#containerFormInvolucrados{
   
    height:100%;
    background:rgba(192,192,192,0.15);
    margin-left:50%; 
    transform: translate(-50%);
   

}

#InvolucradosTitulo{
    margin-top:10%;
    font-weight:600;
}

.inputInvolucrados{
    margin-left:1%; 
    margin-top:4%;
    margin-bottom:5%;
    
}

.subtilulosInvolucrados{
    font-size:17px;
    font-weight:600;
}
 
    #tituloPerfil{
        margin-top:10%;
        font-weight:600;
    }

    #metodologia{
        margin-left:1%;

    }


.player{
  position: absolute;
  background-color: #fff;
  width: 580px;
  height: 120px;
  margin-top:47%;
  margin-left:32%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioVester{
  position: fixed;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:47%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}


.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:58%;
  margin-left:32%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioArbolObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:58%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:40%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:60%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:90%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:47%;
  margin-left:32%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:47%;
  margin-left:18%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:68%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#contenido{
    background:rgba(192,192,192,0.15); 
    height:100vh;
}

#nombreProyectoMenu{
    margin-top:32%;
    color:#238276;
}

   @media (max-width: 1600px) and (max-height: 1500px) {

#contenido{
    background:rgba(192,192,192,0.15); 
    height:100%;
}

 #nombreProyectoMenu{
    margin-top:35%;
    color:#238276;
}
.player{
  position: absolute;
  background-color: #fff;
  width: 580px;
  height: 120px;
  margin-top:47%;
  margin-left:31%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioVester{
  position: fixed;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:47%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 70%;
  margin-left:32%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}



.audioArbolObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:53%;
  margin-left:32%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:35%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:40%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:60%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:85%;
  margin-left:14%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:40%;
  margin-left:16%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:70%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

}

@media (max-width: 1499px) and (max-height: 1441px) {

#contenido{
    background:rgba(192,192,192,0.15);  
    height:100%;
}

.player{
  position: absolute;
  background-color: #fff;
  width: 580px;
  height: 120px;
  margin-top:55%;
  margin-left:27%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:80%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tipMatrizVesterDos{
    margin-left:35%;
}

#matrizVester{
    font-size:22px;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:30%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioArbolObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:37%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:33%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:60%;
  margin-left:28%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color:#fff;
  width: 560px;
  height: 120px;
  margin-top:40%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:90%;
  margin-left:22%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

}

@media (min-width: 1402px) and (max-width: 1440px) {

#grafica{
    margin-left: -16%;
    margin-top: -31%;
    }

#personajeDos{
  
    width:5.4%;
}

#personajeHombre{
  
    width:5.8%;
}



#btn_regresar{
    margin-left:74%; 
    margin-top:-2%; 
    width:7%;
}


#DocumentoFinal{
    width:90%;
    height:90vh; 
    border:2px solid red; 
    position:fixed; 
    margin-top:-10%; 
    margin-left:50%; 
    transform:translateX(-50%); 
    overflow:hidden;
}

#contenido{
    background:rgba(192,192,192,0.15);  
    height:100%;
}

.player{
  position: absolute;
  background-color: #fff;
  width: 580px;
  height: 120px;
  margin-top:50%;
  margin-left:28%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:80%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tipMatrizVesterDos{
    margin-left:30%;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:30%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioArbolObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:38%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:28%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:60%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:90%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:25%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:75%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

}

@media (max-width: 1400px) and (min-width: 1360px) {
#grafica{
    margin-left: -18%;
    margin-top: -29%;
    }


#personajeDos{
  
    width:5.6%;
}

#personajeHombre{
  
    width:5.8%;
}

#btn_regresar{
    margin-left:-8%; 
    margin-top:5%; 
    width:7%;
}

#contenido{
    background:rgba(192,192,192,0.15); 
    height:100%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:47%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioArbolProblemas{
  position: absolute;
  background-color: pink;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:33%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: red;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:25%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:80%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#textoMarcoLogico{
    font-size:25px;
}

}

@media (max-width: 1366px) and (max-height: 768px) {
    #grafica{
    margin-left: -18%;
    margin-top: -29%;
    }

    #nombreProyectoMenu{
    margin-top:31%;
    color:#238276;
}

#personajeDos{
  
    width:5.6%;
}

#personajeHombre{
  
    width:5.8%;
}

#contenido{
    background:rgba(192,192,192,0.15); 
    height:103%;
}

#btn_regresar{
    margin-left:74%; 
    margin-top:-2%; 
    width:7%;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:30%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:30%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:60%;
  margin-left:28%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:38%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:25%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:80%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

}

@media (max-width: 1360px) and (max-height: 768px) {

#grafica{
    margin-left: -18%;
    margin-top: -30%;
    }


#nombreProyectoMenu{
    margin-top:31%;
    color:#238276;
}

#personajeDos{
    width:5.6%;
}

#personajeHombre{
    width:5.8%;
}

#btn_regresar{
    margin-left:74%; 
    margin-top:0%; 
    width:7%;
}

#contenido{
    background:rgba(192,192,192,0.15); 
    height:103%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:47%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioArbolProblemas{
  position: absolute;
  background-color: red;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:30%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: pink;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:115%;
  margin-left:24%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:25%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:50%;
  margin-left:16%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

}

@media (max-width: 1280px) and (min-width: 1960px) {
#grafica{
    margin-left: -18%;
    margin-top: -28%;
    }

#personajeDos{
  
    width:5.6%;
}

#personajeHombre{
  
    width:5.8%;
}
#btn_regresar{
    margin-left:-9%; 
    margin-top:-50%; 
    width:7%;
}

#contenido{
    background:rgba(192,192,192,0.15);  
    height:100%;
}


.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:47%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:31%;
    color:#222;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:35%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: black;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:85%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
  
}

}

@media (max-width: 1280px) and (max-height: 1024px) {
    
  #grafica {
        margin-left: -18%;
        margin-top: -29%;
    }
  #personajeDos{
  
    width:5.8%;
}

#personajeHombre{
  
    width:5.8%;
}
  

    #btn_regresar {
        margin-left: 75%;
        margin-top: -3%;
        width: 7%;
    }

    #contenido {
        background: rgba(192,192,192,0.15);
        height: 120%;
    }

    .player {
        position: absolute;
        background-color: #fff;
        width: 580px;
        height: 120px;
        margin-top: 60%;
        margin-left: 26%;
        border-radius: 3px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
    }

    #lineaDos{
    margin-top:78vh;
    position:fixed;
    margin-left:88%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:90%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#matrizVester{
    font-size:20px;
}

#tipMatrizVesterDos{
    margin-left:41%;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:36%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:35%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:65%;
  margin-left:27%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:37%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tituloInvolucrados{
    font-size:24px;
}


.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:95%;
  margin-left:24%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:80%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#textoMarcoLogico{
    font-size:22px;
}

}

@media (max-width: 1280px) and (max-height: 960px) {

    #grafica {
        margin-left: -18%;
        margin-top: -29%;
    }
  #personajeDos{
  
    width:5.8%;
}

#personajeHombre{
  
    width:5.8%;
}
  

    #btn_regresar {
        margin-left: 75%;
        margin-top: -3%;
        width: 7%;
    }

    #contenido {
        background: rgba(192,192,192,0.15);
        height: 100%;
    }

    .player {
        position: absolute;
        background-color: #fff;
        width: 580px;
        height: 120px;
        margin-top: 60%;
        margin-left: 26%;
        border-radius: 3px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
    }

    #lineaDos{
    margin-top:78vh;
    position:fixed;
    margin-left:88%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:90%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#matrizVester{
    font-size:20px;
}

#tipMatrizVesterDos{
    margin-left:41%;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:45%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:35%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:65%;
  margin-left:27%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:37%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tituloInvolucrados{
    font-size:24px;
}


.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:95%;
  margin-left:24%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:80%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#textoMarcoLogico{
    font-size:22px;
}

}

@media (max-width: 1280px) and (max-height: 800px) {

    #grafica {
        margin-left: -18%;
        margin-top: -29%;
    }
  #personajeDos{
  
    width:5.8%;
}

#personajeHombre{
  
    width:5.8%;
}
  

    #btn_regresar {
        margin-left: 75%;
        margin-top: -3%;
        width: 7%;
    }

    #contenido {
        background: rgba(192,192,192,0.15);
        height: 120%;
    }

    .player {
        position: absolute;
        background-color: #fff;
        width: 580px;
        height: 120px;
        margin-top: 60%;
        margin-left: 26%;
        border-radius: 3px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
    }

    #lineaDos{
    margin-top:78vh;
    position:fixed;
    margin-left:88%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:90%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#matrizVester{
    font-size:20px;
}

#tipMatrizVesterDos{
    margin-left:41%;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:-13%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:35%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:65%;
  margin-left:27%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:37%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tituloInvolucrados{
    font-size:24px;
}


.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:95%;
  margin-left:24%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:80%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#textoMarcoLogico{
    font-size:22px;
}

}

@media (max-width: 1280px) and (max-height: 768px) {

    #grafica {
        margin-left: -18%;
        margin-top: -29%;
    }
  #personajeDos{
  
    width:5.8%;
}

#personajeHombre{
  
    width:5.8%;
}
  

    #btn_regresar {
        margin-left: 75%;
        margin-top: -3%;
        width: 7%;
    }

    #contenido {
        background: rgba(192,192,192,0.15);
        height: 103%;
    }

    .player {
        position: absolute;
        background-color: #fff;
        width: 580px;
        height: 120px;
        margin-top: 60%;
        margin-left: 26%;
        border-radius: 3px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
    }

    #lineaDos{
    margin-top:78vh;
    position:fixed;
    margin-left:88%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:90%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#matrizVester{
    font-size:20px;
}

#tipMatrizVesterDos{
    margin-left:41%;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:-13%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:35%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:65%;
  margin-left:27%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:37%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tituloInvolucrados{
    font-size:24px;
}


.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:95%;
  margin-left:24%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:80%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#textoMarcoLogico{
    font-size:22px;
}

}

@media (max-width: 1280px) and (max-height: 720px) {

    #grafica {
        margin-left: -18%;
        margin-top: -29%;
    }
  #personajeDos{
  
    width:5.8%;
}

#personajeHombre{
  
    width:5.8%;
}
  

    #btn_regresar {
        margin-left: 75%;
        margin-top: -3%;
        width: 7%;
    }

    #contenido {
        background: rgba(192,192,192,0.15);
        height: 111%;
    }

    .player {
        position: absolute;
        background-color: #fff;
        width: 580px;
        height: 120px;
        margin-top: 60%;
        margin-left: 26%;
        border-radius: 3px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
    }

    #lineaDos{
    margin-top:78vh;
    position:fixed;
    margin-left:88%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:90%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#matrizVester{
    font-size:20px;
}

#tipMatrizVesterDos{
    margin-left:41%;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:-13%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:35%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:65%;
  margin-left:27%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:37%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tituloInvolucrados{
    font-size:24px;
}


.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:95%;
  margin-left:24%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:80%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#textoMarcoLogico{
    font-size:22px;
}

}

@media (max-width: 1176px){ 

    #grafica {
        margin-left: -18%;
        margin-top: -29%;
    }
  #personajeDos{
  
    width:5.8%;
}

#personajeHombre{
  
    width:5.8%;
}
  

    #btn_regresar {
        margin-left: 75%;
        margin-top: -3%;
        width: 7%;
    }

    #contenido {
        background: rgba(192,192,192,0.15);
        height: 120%;
    }

    .player {
        position: absolute;
        background-color: #fff;
        width: 580px;
        height: 120px;
        margin-top: 60%;
        margin-left: 26%;
        border-radius: 3px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
    }

    #lineaDos{
    margin-top:78vh;
    position:fixed;
    margin-left:88%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:90%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#matrizVester{
    font-size:20px;
}

#tipMatrizVesterDos{
    margin-left:41%;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:-14%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:35%;
  margin-left:30%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:65%;
  margin-left:27%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:37%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tituloInvolucrados{
    font-size:24px;
}


.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:95%;
  margin-left:24%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:45%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:80%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#textoMarcoLogico{
    font-size:22px;
}

}

@media(max-width:1152px) {
    #grafica{
    margin-left: -24%;
    margin-top: -39%;
}

#personajeDos{
  
    width:6.5%;
}

#personajeHombre{
  
    width:6.8%;
}
#btn_regresar{
    margin-left:75%; 
    margin-top:-3%; 
    width:7%;
}

#contenido{
    background:rgba(192,192,192,0.15); 
    height:100%;
}


.player{
  position: absolute;
  background-color: #fff;
  width: 580px;
  height: 120px;
  margin-top:63%;
  margin-left:23%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:100%;
  margin-left:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tipMatrizVesterDos{
    margin-left:41%;
}

#matrizVester{
    font-size:20px;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 75%;
  margin-left:26%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#nombreProyectoMenu{
    margin-top:-10%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:44%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color:#fff;
  width: 560px;
  height: 120px;
  margin-top:69%;
  margin-left:27%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:53%;
  margin-left:24%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#tituloInvolucrados{
    font-size:22px;
}

.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:65%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:16%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:95%;
  margin-left:25%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

}

@media (max-width:1024px) {
   #grafica{
    margin-left: -29%;
    margin-top: -39%;
}

#personajeDos{
  
    width:6.8%;
}

#personajeHombre{
  
    width:7%;
}

#btn_regresar{
    margin-left:75%; 
    margin-top:-3%; 
    width:7%;
}

#tipMatrizVesterDos{
    margin-left:45%;
}

.player{
  position: absolute;
  background-color: #fff;
  width: 580px;
  height: 120px;
  margin-top:68%;
  margin-left:20%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#contenido{
    background:rgba(192,192,192,0.15); 
    height:100%;
}

.audioVester{
  position: absolute;
  background-color: #fff;
  width: 530px;
  height: 120px;
  margin-top:110%;
  margin-left:22%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#matrizVester{
    font-size:17px;
}

.audioArbolProblemas{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top: 80%;
  margin-left:22%;
  margin-bottom:3%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


#nombreProyectoMenu{
    margin-top:-13%;
    color:#238276;
}

.audioObjetivos{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:40%;
  margin-left:33%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioResultados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:68%;
  margin-left:26%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioInvolucrados{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:53%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioNombreProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:65%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPerfilProyecto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:15%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioCronograma{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:55%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.audioPresupuesto{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:60%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.audioMarcoLogico{
  position: absolute;
  background-color: #fff;
  width: 560px;
  height: 120px;
  margin-top:110%;
  margin-left:20%;
  margin-bottom:1%;
  border-radius: 3px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

}
